.name{
	cursor: pointer;
}

.marker{
	position: relative;
}

.info{
	position: absolute;
	top:0;
}

.star-svg.star-selected .star {
  fill: rgb(255, 235, 59) !important;
}
@import './_home';
@import './_planner';
@import './_book';
@import './_modal';
@import './_defaults';
@import './_postComponent';

    